<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Dashbord</title>
</head>
<body>
    <h1>HELLO bixches ISS DA DASHBOARD! SKKKRRRTTT!!!</h1><br>
    <form action="/logout" method="POST">
        <input type="submit" value="Log Out" />
    </form>
    <form action="/getweatha" method="POST">
        <input type="text" name="cityname">
        <input type="submit" value="Submit City Name">
    </form>


</body>
</html>